# Counting Sundays - Problem 19
<p>You are given the following information, but you may prefer to do some research for yourself.</p>
<ul><li>1 Jan 1900 was a Monday.</li>
<li>Thirty days has September,<br />
April, June and November.<br />
All the rest have thirty-one,<br />
Saving February alone,<br />
Which has twenty-eight, rain or shine.<br />
And on leap years, twenty-nine.</li>
<li>A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.</li>
</ul><p>How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?</p>

## Solution.

https://en.wikipedia.org/wiki/Zeller%27s_congruence

In [44]:
def transfrom(mm, yyyy):
    if mm > 2:
        return mm, yyyy
    else:
        return mm + 12, yyyy -1

In [46]:
def date_to_day(dd, mm, yyyy):
    mm, yyyy = transfrom(mm, yyyy)
    h = (dd + ((13*(mm + 1))//5) + (yyyy%100) + (yyyy%100)//4 + (yyyy//100)//4 - 2 * (yyyy//100)) % 7
    return ((h+5) % 7) + 1

In [48]:
ans = 0

for year in range(1901, 2001, 1):
    for month in range(1, 13, 1):
        if date_to_day(1, month, year) == 7:
            ans += 1

print(ans)

171